.footer{
    background-color: #021017;

    & .social-icons{
        & a{
            height: 50px;
            width: 50px;
            background-color: #fff;
            border-radius: 50%;
            border: #eee;
        }
    }

    .address{
        color: var(--light-gray);
        margin-top: 12px;
        font-size: 1.1rem;

    }
}

