.footer{

    hr{
        height: 1px;
        width: 85%;
        border: none;
    }

    & .social-icons{
        & a{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: #eee;
        }
    }

    .address{
        color: var(--light-gray);
        margin-top: 12px;
        font-size: 1.1rem;

    }
}

