.heroSection{
    min-height: 500px;
      margin-top: -70px;

      &.light {
        background: linear-gradient(
            to top right,
            rgb(14 25 58 / 0.9),
            20%,
            rgb(21 86 162 / 0.9),
            30%,
            rgb(144 38 109 / 0.9)
          ),
          url("../../assets/images/heroSection-background.webp");
      }
    
      &.dark {
        background: 
          linear-gradient(to bottom right, rgb(35 39 47 / .98), rgb(35 39 47 / .9)),
          url("../../assets/images/heroSection-background.webp");
      }

      & article{
        & h2{
            font-family: var(--primary-font);
            font-size: 4rem;
            color: white;
            font-weight: 600;
        }

        & p{
            max-width: 100ch;
            font-size: 1.1rem;
            color: white;
            max-width: 90ch;
        }
      }
}