.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border: 1px solid transparent;
  transition: background-color 150ms ease;
  background-color: transparent;

  .nav__logo {
    a h1 {
      color: #138bc7;
      font-size: 1.7rem;
      font-weight: 500;
      font-family: var(--primary-font);
    }
  }
}

.nav__links {
  & li {
    transition: 0.2s ease;
    height: 100%;
    display: flex;
    align-items: center;

    &.thumb{
      margin-left: 10px;
    }

    &.nav-tab a {
      position: relative;
      display: grid;
      place-items: center;

      & .bottom-row {
        background-color: currentColor;
        height: 6px;
        width: 6px;
        transform: rotate(45deg);
        display: none;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        background-color: currentColor;
        bottom: 2px;
        display: none;
      }

      &::before {
        left: 0;
        animation: increase 150ms linear;
        transform-origin: right;
      }

      &::after {
        right: 0;
        animation: increase 250ms linear;
        transform-origin: left;
      }

      @keyframes increase {
        from {
          transform: scaleX(0);
        }
        to {
          transform: scaleX(1);
        }
      }

      &:hover .bottom-row,
      &:hover::before,
      &:hover::after,
      &.active .bottom-row,
      &.active::before,
      &.active::after {
        display: block;
      }
    }
  }

  & li.services {
    position: relative;

    span {
      .dropDownIcon {
        display: flex;
        align-items: center;
        transition: transform 150ms linear;
        transform-origin: center;
      }
    }

    &:hover span .dropDownIcon {
      transform: rotate(180deg);
    }

    & .services__dropdown {
      padding: 5px 10px;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
      border: 1px solid #ccc;
      position: absolute;
      top: 80%;
      width: 180px;
      transform: translateY(-20px);
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.2s ease-out, transform 0.15s ease-in-out;
      z-index: 10;

      &.light {
        background-color: white;
        border: 1px solid var(--line-color-light);
        color: var(--text-color);
      }

      &.dark {
        background-color: var(--primary-dark);
        border: 1px solid var(--line-color-dark);
        color: var(--white);
      }

      & li {
        list-style-type: none;
        padding: 5px;
      }

      & a {
        &:hover {
          color: var(--purple) !important;
          transition: 0.2s ease-in-out;
          transform: translateX(2px);
        }
      }
    }
  }

  & li.services:hover {
    & .services__dropdown {
      transform: translateY(5px);
      opacity: 1;
      pointer-events: all;
    }
  }

  & li.contact a {
    padding: 3px 18px;
    border: 2px solid var(--purple);
    color: white;
    background-color: var(--purple);
    border-radius: 25px;
    letter-spacing: 1px;
  }
}

li.menuToggle {
  cursor: pointer;
  display: none;
  padding: 10px;

  &::selection {
    background-color: transparent;
  }

  & .bar {
    height: 2px;
    width: 1.7rem;
    position: relative;
    cursor: pointer;
    border-radius: 5px;

    &::selection {
      background-color: transparent;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: inherit;
      width: inherit;
      background-color: inherit;
      border-radius: inherit;
      transition: transform 150ms linear;
      transform-origin: center;
    }

    &::before {
      top: -350%;
    }

    &::after {
      bottom: -350%;
    }

    &.toggled {
      transform-origin: center;
      transform: rotate(45deg);
    }
    &.toggled::before {
      top: 0;
      transform: rotate(90deg);
    }

    &.toggled::after {
      bottom: 0;
      transform: rotate(-90deg);
    }
  }
}
