.service-summary {
  padding-top: 6rem;
  margin-top: -3rem;

  &.light{
    background: linear-gradient(to right, #e9f4fb, #e9e5f5);

  }

  &.dark{
    // background: linear-gradient(to right, var(--dark-black), rgb(0 0 0 / .8))
    background: transparent;
  }

  & > * {
    flex: 1 1 450px;
  }

  .left-content {
    p {
      font-size: 1rem;

      strong {
        font-weight: 500;
      }

      strong:not(.last) {
        color: var(--primary-color);
      }
    }
  }

  .right-content {
    min-height: 400px;

    figure {
      height: 450px;
      width: 100%;
      position: relative;

      img {
        width: 105px;
        border-radius: 5px;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        &:first-child {
          top: 14.5rem;
          left: 17.5rem;
          animation: animate_img1 20s ease-in-out infinite;
        }

        &:nth-child(2) {
          top: 13rem;
          left: 23rem;
          animation: animate_img2 20s ease-in-out infinite;
        }
        &:nth-child(3) {
          top: 12.5rem;
          left: 6.5rem;
          animation: animate_img3 20s ease-in-out infinite;
        }
        &:nth-child(4) {
          top: 7.5rem;
          left: 21rem;
          animation: animate_img4 20s ease-in-out infinite;
        }
        &:nth-child(5) {
          top: 8.5rem;
          left: 13.6rem;
          animation: animate_img5 20s ease-in-out infinite;
        }
        &:nth-child(6) {
          top: 6rem;
          left: 8.5rem;
          animation: animate_img6 20s ease-in-out infinite;
        }
        &:last-child {
          top: 16rem;
          left: 10rem;
          animation: animate_img7 20s ease-in-out infinite;
        }
      }
    }
  }
}

@keyframes animate_img1 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }

  25% {
    top: 14.5rem;
    left: 17.5rem;

    // transform: rotate(360deg);
  }
  70% {
    top: 14.5rem;
    left: 17.5rem;
  }
  75% {
    top: 3.5rem;
    left: 8.5rem;
  }
  95% {
    top: 3.5rem;
    left: 8.5rem;
  }
}
@keyframes animate_img2 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }
  25% {
    top: 13rem;
    left: 23rem;

    // transform: rotate(-360deg);
  }
  70% {
    top: 13rem;
    left: 23rem;
  }
  75% {
    top: 9rem;
    left: 14rem;
  }
  95% {
    top: 9rem;
    left: 14rem;
  }
}
@keyframes animate_img3 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }
  25% {
    top: 12.5rem;
    left: 6.5rem;

    // transform: rotate(360deg);
  }
  70% {
    top: 12.5rem;
    left: 6.5rem;
  }
  75% {
    top: 7.5rem;
    left: 21rem;
  }
  95% {
    top: 7.5rem;
    left: 21rem;
  }
}
@keyframes animate_img4 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }
  25% {
    top: 7.5rem;
    left: 21rem;

    // transform: rotate(-360deg);
  }
  70% {
    top: 7.5rem;
    left: 21rem;
  }
  75% {
    top: 16.5rem;
    left: 10.5rem;
  }
  95% {
    top: 16.5rem;
    left: 10.5rem;
  }
}
@keyframes animate_img5 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }
  25% {
    top: 8.5rem;
    left: 13.6rem;

    // transform: rotate(-360deg);
  }
  70% {
    top: 8.5rem;
    left: 13.6rem;
  }
  75% {
    top: 13rem;
    left: 23rem;
  }
  95% {
    top: 13rem;
    left: 23rem;
  }
}
@keyframes animate_img6 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }
  25% {
    top: 6rem;
    left: 8.5rem;

    // transform: rotate(360deg);
  }
  70% {
    top: 6rem;
    left: 8.5rem;
  }
  75% {
    top: 14.5rem;
    left: 17.5rem;
  }
  95% {
    top: 14.5rem;
    left: 17.5rem;
  }
}
@keyframes animate_img7 {
  0%,
  100% {
    top: 10.5rem;
    left: 15.5rem;
  }
  20% {
    top: 10.5rem;
    left: 15.5rem;
  }
  25% {
    top: 16rem;
    left: 10rem;

    // transform: rotate(-360deg);
  }
  70% {
    top: 16rem;
    left: 10rem;
  }
  75% {
    top: 12.5rem;
    left: 7rem;
  }

  95% {
    top: 12.5rem;
    left: 7rem;
  }
}

.services-grid-wrapper {
  margin-top: 4rem;
  h2 {
    font-family: var(--text-font);
    font-weight: 600;
    color: transparent;
    font-size: 2.5rem;
    width: fit-content;
    margin: auto;
    background: linear-gradient(
      to bottom right,
      var(--primary-color),
      var(--purple)
    );
    text-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
    background-clip: text;
  }

  .action-btns {
    margin-top: 2rem;
    button {
      background-color: rgb(40 57 67 / 0.3);
      color: var(--light-gray);
      padding: 12px 18px;
      border: none;
      font-family: var(--primary-font);

      &.active {
        background-color: rgb(40 57 67);
        color: white;
      }
    }
  }

  .services-category-card-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 2rem;
    gap: 10px;

    & > * {
      flex: 1 1 250px;
      max-width: 350px;
      height: 100%;
      padding: 20px;
      border-radius: 8px;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
      gap: 10px;
      animation: popup 1s ease-in;

      @keyframes popup {
        from {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;
        }
        to {
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
            rgba(0, 0, 0, 0.24) 0px 1px 2px;
        }
      }



      p {
        --max-line: 4;

        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-line);

        font-family: var(--text-font);
        color: var(--light-gray);
        font-size: 0.9rem;
      }

      figure {
        height: 110px;
        width: 110px;
        border: solid 2px var(--purple);
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 150px;
          object-fit: cover;
          margin-left: -1.3rem;
        }
      }

      button {
        padding: 10px 45px;
        font-size: 1.1rem;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
