@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;400;500;900&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --text-font: "Poppins", sans-serif;
  --primary-font: "Roboto", sans-serif;
  /* --heading-font: "Anton", sans-serif; */
  --heading-font:  'Sofia Sans', sans-serif;
  --primary-color: rgb(30, 144, 255);
  --text-color: #2b2b2b;
  --logo-text-color: rgb(90, 143, 197);
  --service-card-color: #f8faff;
  --heading-color: #05364d;
  --light-gray: #808080;
  --purple: rgb(156, 39, 176);
  --white: hsl(217deg 21% 85%);
  --primary-background-dark1: #283541;
  --primary-background-dark2: #343a46;

  /* --primary-dark: #23272f; */
  --primary-dark: rgb(20 20 20);
  /* --primary-dark-light: #343a46; */
  --primary-dark-light: rgb(23 23 23);

  --primary-color-dark: #149eca;
  --dark-black: #16181d;

  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);

  --line-color-dark: #343a46;
  --line-color-light: #ebecf0;

  --shadow-width: 250px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
.container {
  padding: 3rem;
  margin: 2rem auto;
}

.navback{
  height: 70px;
  margin-top: -70px;
}

li {
  list-style: none;
}

li:not(.dropdown_items) {
  padding: 5px 10px;
  height: fit-content;
}

a,
span.serviceSpan {
  text-decoration: none;
  color: currentColor;
  font-family: var(--text-font);
  cursor: pointer;
  /* min-width: fit-content; */
}

.heroSection{
  clip-path: ellipse(160% 75% at 50% 25%);
}

ul:not(.services__dropdown) {
  display: flex;
  align-items: center;
}

h2.heading {
  font-family: var(--primary-font);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text !important;
  font-size: 3.5rem;
}

h2.heading.dark{
  background: linear-gradient(to bottom right, #ccc, #999);
  transform: translateY(2.8rem);
  transition: transform 250ms ease;
  
}

h2.heading.dark.lighten{
  background: linear-gradient(to bottom right, white, #aaa);
  text-shadow: 0 2px 10px rgb(30 144 255 / .3);
  transform: translateY(0);
}

.heading-container{
  position: relative;
  margin-bottom: 4rem;
  padding: 2rem;
  overflow: hidden;
}

.heading-container div.shadow{
  position: absolute;
  width: 60%;
  top: -80%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(255 255 255 / .05);
  filter: blur(30px);
  transform: scaleX(.5);
  transition: transform 250ms ease-in-out;
}

.heading-container div.shadow.lighten{
  background-color: rgb(255 255 255 / .2);
  transform: scaleX(1);
  top: -50%;
}

h2.heading.light{
  background: linear-gradient(to bottom right, rgb(156 39 176), rgb(156 39 76 / .5));
}

h2.big-heading{
  font-family: var(--primary-font);
  font-size: 2rem;
}

h2.big-heading.light{
  color: var(--heading-color);
}

h2.big-heading.dark{
  color: #8891ec;
}

h3 {
  font-family: var(--primary-font);
  font-size: 1.6rem;
}

h3.light, h3.text-center.light{
  color: var(--heading-color);
}

h3.dark, h3.text-center.dark{
  color: var(--primary-color-dark);
}

p {
  font-family: var(--text-font);
  font-weight: 300;
  line-height: 1.9rem;
  font-size: 1rem;
}

p.light{
  color: var(--text-color);
}

p.dark{
  color: var(--white);
}
li.tag-list {
  position: relative;
  width: fit-content;
  display: grid;
  place-items: center;
  padding-left: 2rem;
}

li.tag-list::before {
  content: "\2714";
  font-size: 1.5rem;
  color: lightseagreen;
  position: absolute;
  left: 0;
}

a.callNow-btn {
  padding: 0.8rem 1.5rem;
  background-color: var(--purple);
  color: white;
  box-shadow: 0 4px 10px rgb(0 0 0 / 0.5);
  /* min-width: fit-content; */
}


.dflex{
  display: flex;
}

.wrap{
  flex-wrap: wrap;
}

.dflex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.dflex-column{
  flex-direction: column;
}

.gap-1{
  gap: 1rem;
}

.gap-2{
  gap: 2rem;
}

.gap-3{
  gap: 3rem;
}

.text-center{
  text-align: center;
}

.grid-center{
  display: grid;
  place-items: center;
}

button{
  cursor: pointer;
}