@media screen and (max-width: 1045px) {
  .service-summary.container{
    padding-top: 5rem !important;
    flex-direction: column !important;
  }
  
  .service-summary > * {
    flex: 0 1 auto;
  }

  .service-summary .right-content{
    display: flex;
    justify-content: center;
    min-height: 250px !important;
  }
  .service-summary .right-content figure{
    width: 450px !important;
    height: 200px !important;
    margin-left: -7.7rem;
    transform: translateY(-8.5rem) !important;
  }
}

@media screen and (max-width: 950px){
  nav{
    padding-left: 10px !important;
  }
  .container{
    padding: 1.5rem !important;
  }

  .heroSection{
    padding: 70px 10px !important;
  }
  .about-container{
    display: block !important;
  }

  .about-container .right-content{
    margin-top: 4rem !important;
  }
  
  .service-card{
    padding: 10px !important;
  }

  .service-card button{
    margin-top: 0 !important;
  }
  .about-container .left-content{
    justify-content: center !important;
    align-items: center !important;
  }

  .about-container .left-content h3, .about-container .left-content p{
    max-width: fit-content !important;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 15px;
  }

  .nav {
    padding: 0px;
    z-index: 11;
  }
  ul.menuDropDown {
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0 2rem;
    margin-right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10;
    box-shadow: 0 10px 15px rgb(0 0 0 / 0.1);
    opacity: 0;
    transform: scaleY(0);
    translate: 0 -10px;
    transform-origin: top;
    transition: opacity 150ms linear, translate 150ms linear;
  }
  
  ul.menuDropDown.active {
    opacity: 1;
    transform: scaleY(1);
    translate: 0 0;
  }

  ul.menuDropDown.dark{
    background-color: var(--primary-background-dark1);
  }

  ul.menuDropDown.light{
    background-color: #ccc;
  }

  .nav__links li.nav_link{
    height: auto;
    width: 100%;
    border-bottom: 1px solid var(--line-color-dark);
    padding: .8rem 0;
  }

  .ofsPage-container{
    padding: 1rem !important;
  }

  .ofsPage-container h2{
    font-size: 2.5rem !important;
  }

  .ofsPage-container h3{
    font-size: 2rem !important;
  }

  @keyframes menuDrop {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  li.menuToggle {
    display: block !important;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 20px;
  }

  .hero-content-image {
    display: none !important;
  }

  .nav__links li.services .services__dropdown{
    top: 100% !important;
  }

  .why_sasa-container .right-content{
    padding: 10px !important;
  }

  .hero-container{
    padding-top: 80px;
  }

  h2.hero-heading-main{
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-container .hero-content-heading h2.hero-heading-main.top-heading{
    display: none;
  }
  li.menuToggle {
    right: 0;
  }
}

@media screen and (max-width: 680px){
  .tags-container{
    padding: 1rem !important;
    align-items: flex-start !important;
    flex-direction: column !important;
  }

  .tag{
    padding: 1rem !important;
    flex:auto !important;
  }

  .big-font{
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 427px) {
    .hero-content-heading{
        gap: 0 !important;
    }
    .hero_heading_secondary{
        transform: translateY(-20px) !important;
    }

    
}